<% content_for :body_content_page_title do %>
  <h1 id='body_content_page_title'>
    <%= @message.title %>
  </h1>
<% end %>

<% content_for :body_content_left do %>
  <p style='margin-top: 0px'>
    <small><%= @message.message_date.strftime("%A, %d %B %Y#{ "%I:%M %p" if RefinerySetting.find_or_set(:show_time_in_message_date, false)}") %></small>
  </p>
  <%= @message.body %>

  <%= link_to "Download now", @message.resource.public_filename, :target => "_blank" %>
<% end %>

<% content_for :body_content_right do %>
  <% if @messages.size > 1 %>
    <h2>Other Messages</h2>
    <ul id="messages">
      <% @messages.each do |message| %>
        <li>
          <%= link_to message.title, message_url(message) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class='messages message'>
  <%= render :partial => "/shared/content_page" %>
</div>
